@font-face {
    font-family: 'FreeMono';
    src: url(./FreeMono.otf) format('truetype');
}

body {
    background-color: #a5a4ce;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.1em;
    font-family: 'FreeMono';
}

header {
    text-align: center;
    background-color: #c0c0c0;
    width: 100%;
}

header h3 {
    margin: 0;
}

.title {
    background-color: #0d66a4;
    box-shadow: 0 0 0 3px #3465a4, 1em 1em 3px 0 rgb(0 0 0 / 50%);
    color: azure;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title h1 {
    margin: 5px 0 1px 0;
}

.windows {
    border: 6px double #fff;
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

.article {
    background-color: silver;
    box-shadow: 0 0 0 3px silver, 1em 1em 3px 0 rgb(0 0 0 / 50%);
}

.article p {
    padding-right: 15px;
    padding-left: 15px;
}

video {
    display: block;
    margin:0 auto 35px auto;
    width:480;
    box-shadow: 0 0 0 3px silver, 1em 1em 3px 0 rgb(0 0 0 / 50%);
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    background-color: #c0c0c0;
}
footer p {
    margin: 0;
    padding: 2px 5px 2px 5px;
    
}
footer a {
    color: black;
    text-decoration: none;
}
footer p:hover {
    background-color: #817c7c;
    color: #c0c0c0;
    }
#heart_footer {
    color:#0d66a4;
}





@media (min-width: 1000px) {
    .windows {
        width: 55%;
    }
}